.logo {
  font-size: 7rem;
  color: $color-primary;
  width: 11rem;
  height: 11rem;
  border: 0.3rem solid $color-primary;
  border-radius: 50%;
  margin-right: 2rem;
  @include flexLayout;
}

.main-name {
  font-family: $font-nunito;
  font-size: 5rem;
  color: $color-secondary;
  @include textStyles;
}

.sub-name {
  font-family: $font-josefinSans;
  font-size: 1.8rem;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}
